*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(22, 19, 19);
}
.box{
    display: flex;
    overflow: hidden;
}
.left-box{
    background-color: rgb(34, 185, 34);
    width: 40%;
    height: 700px;
    margin: 40px 100px;
}
.leftcontainer{
    width: 60%;
    margin: 120px auto;
}
.left-box img{
    margin: 0 60px;

}
.simple{

    height: 350px;
}
.p{
    margin-top: 80px;
}
.simple h2{
    margin: 50px 60px;
    color: white;
    font-size: 2rem;
}
.simple p{
    margin: 10px 50px;
    width: 70%;

    color: white;
}
.right-box{
    background-color: white;
    width: 40%;
    height: 700px;
    margin: 40px -100px;

}
.marginbox{
    margin: 50px 50px;

}
.welcome h1{
    font-size: 1.90rem;

}
.signin{
    color: grey;
    margin: 5px 5px;
}
.input-box{
    margin: 25px 0;
    width: 100%;
}

.user-input p{
    margin: 10px 10px;
    font-size: 17px;
}
#email{
    font-size: 1rem;
    padding: 5px 25px;
}
#password{
        font-size: 1rem;
        padding: 5px 25px;
}
.input{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 0px 10px;
    outline: none;
    transition: 0.4s ease-out;
}
.input:focus{
    border: 1px solid green;
}
.iamnotrobot{
    border: 2px solid black;
    height: 70px;
    width: 25vw;
    margin: 10px 10px;
}
.forgot{

    width: 150px;
    float: right;
    margin: 10px -30px;
}
.forgot p{
    color: green;
    font-size: 1.1rem;
}
.login{
    margin: 80px auto;
    width: 100%;
    height: 50px;
}
.login-btn{
    width: 100%;
    height: 50px;
    color: white;
    background-color: forestgreen;
    margin: -20px auto;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
}
.regester{
    margin: -70px auto;
}
.regester p{
    margin: auto;
    text-align: center;
    color: rgb(80, 175, 80);
}



